@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Condensed', sans-serif;
}

a, a:hover{text-decoration: none !important;}


.floating-social {
    position: fixed;
    z-index: 9;
    bottom: 7%;
    right: 1%;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.floating-social li {
    display: inline-block;
}
.floating-social ul li a {
    color: #fff;
    background: #189d0e;
    margin: 3px 0;
    display: inline-block;
    font-size: 30px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.floating-social ul li a i {
    transition: all 0.8s ease-in-out;
}
.floating-social ul li a:hover>i {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.floating-social ul li+li a {
    background-image: linear-gradient(to bottom, #00d3fd, #00bdff, #00a5ff, #0089ff, #0067ff);
}
.top-bar {
    background: #33335c;
}
.top-bar nav.navbar.navbar-expand-lg.navbar-light {
    padding: 0;
    margin: 0;
    border: none;
}


.footer {
    background: #33335c;
}
.footer .block {
    margin: 30px 0 20px;
}
.block .block-title h3 {
    border: 0;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
}
.block-content {
    color: #666;
}
.footer ul li {
    list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
}
.footer ul li a {
    color: #e4e6e8;
    transition: padding .8s ease-in-out;
    position: relative;
}
.footer ul li a:before{
    content: "\f105";
    font-family:"Font Awesome 5 Free";
    font-style:normal;
    font-weight:900;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    color: #cca22c;
    font-size: 12px;
    transition: opacity .5s ease-in-out;
}
.footer ul li a:hover{
    padding-left: 15px;
}
.footer ul li a:hover::before{
    opacity: 1;
}
.copyright {
    background: #33335c;
    color: #999;
    padding: 0 0 10px;
}
.copyright span.hr{
    border-top: 1px solid #ddd;
    padding: 0 0 10px;
    display: inherit;
}
.copyright p {
    margin: 0;
}
.f-right {
    float: right;
}
.copyright ul li {
    display: inline-block;
    list-style: none;
}
.copyright a {
    color: #999;
    font-size: 14px;
}
.copyright li+li {
    border-left: 2px solid rgba(255,255,255,.1);
    padding-left: 15px;
    line-height: 12px;
    margin-left: 15px;
}
.social li {
    display: inline-block;
    position: relative;
    margin-bottom: 5px !important;
}
.footer ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.social li a:hover {
    background: #cca22c;
}
.footer .social li a {
    width: 33px;
    height: 33px;
    display: inline-block;
    text-align: center;
    background: #f3f3f3;
    color: #33335c;
    line-height: 33px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
    border:1px solid #f3f3f3;
}
.footer .social li a:hover::before{
    display: none;
}
.footer .social li a:hover{
    padding-left: 0;
    background: #33335c;
    color: #f3f3f3;
    border:1px solid #f3f3f3;
}


/*navigation*/

.top-bar .navbar-light .navbar-nav .nav-link {
    display: block;
    color: #fff;
    font-size: 16px;
    letter-spacing: .2px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 38px;
    padding: 0 10px;
    transition: background-color 0.5s ease-out;
    margin-left: 10px;
}

.top-bar .navbar-light .navbar-nav .nav-link:hover{
    background: #cca22c;
}
.top-bar .navbar-light .navbar-nav .nav-link:hover i{
    color: #33335c;
}
.top-bar .navbar-light .navbar-nav .nav-link i {
    color: #cca22c;
    margin-right: 10px;
    transition: all .5s ease-out;
}
.top-bar .navbar-expand-lg .navbar-collapse{
    /*display: inline-block !important;*/
}
.top-bar .navbar-expand-lg .navbar-collapse ul.navbar-nav{
    float: right;
}
.top-bar .dropdown-menu{
    left: 20px;
    background-color: #cca22c;
    border-radius: 0;
}
.top-bar .dropdown-menu .dropdown-item{
    padding: 5px 10px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.top-bar .dropdown-menu .dropdown-item i{
    color: #000;
    margin-right: 10px;
}


/*banner-slider*/

.slider-home .carousel-indicators li.active {    
    background-color: #189d0e;
    border:1px solid #189d0e;
}
.slider-home .carousel-item img{
    width: 100%;
}
.slider-home .carousel-item .carousel-caption {
    top: 20%;
    padding-bottom: 0px;
}
.slider-home .carousel-item .carousel-caption h1{
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    text-shadow: 3px 3px 6px rgba(14,10,65,.15);
}
.slider-home .carousel-item .carousel-caption p{
    color: #fff;
    font-size: 18px;
    margin: 25px 0;
    line-height: 30px
}
.slider-home .carousel-item .carousel-caption a{
    color: #33335c;
    font-size: 16px;
    background: #cca22c;
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    display: inline-block;
    text-shadow: none;
    font-weight: 600;
    transition: all .5s ease-in-out;
}
.slider-home .carousel-control.right,
.slider-home .carousel-control.left{
    background-image: none;
}


/*About-us*/

section.about-us {
    background: #e5f3ff;
    margin: 15px;
    border-radius: 5px;
}
.about-right{
    background:#c9e3fa;
    padding: 40px 50px;
    margin-left: 35px;
    margin: 60px;
    margin-bottom: 0;
    color: #302f2d;
}
.about-right h4{
    background: #e5f3fe;
    display: inline-block;
    margin: 0;
    line-height: inherit;
    padding: 5px 10px;
    text-transform: uppercase;
}
.about-right h2 {
    font-size: 52px;
    font-weight: bold;
    margin: 0;
    line-height: 61px;
    color: #33335c;
}
.about-right p{
    margin: 25px 0 40px 0;
    color: #0c0c0c;
    line-height: 25px;
    font-size: 16px;
}
.product-link a,
.about-right a{
    color: #33335c;
    font-size: 16px;
    background: #cca22c;
    padding: 15px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    display: inline-block;
    text-shadow: none;
    font-weight: 600;
    position: relative;
    /*transition: all .5s ease-in-out;*/
    transition-property: color, background, box-shadow;
    transition-duration: .8s;
}
.slider-home .carousel-item .carousel-caption a:hover,
.about-right a:hover,
.product-link a:hover{
    color: #cca22c;
    background: #33335c;
    box-shadow: 0 8px 6px -6px #000;
}

/*highlight section*/
.highlight{
    background: #33335c;
    padding: 20px 0;
}
.box-hight{
    background: #1c1948;
    padding: 20px 0;
    color: #eceaea;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 0 8px 6px -6px #e5f3ff45;
    transition: box-shadow .5s ease-in-out;
}
.box-hight:hover{
    box-shadow: 0 8px 6px -6px #000;
    box-shadow: none;
}
.box-hight img{
    margin: 0 0 20px;
}
.box-hight p {
    margin: 0;
}
section.product {
    background: #f7f8fa;
    padding: 10px 0 55px;
    text-align: center;
    font-size: 15px;
    line-height: 28px;
}
.product-title {
    margin: 0 0 40px;
}
.product-title h2{
    font-weight: 600;
}
section.product img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px #00000087;
}
.product-link a {
    padding: 10px 40px;
}
.product-link {
    margin: 40px 0 0;
}



@media only screen and (max-width: 768px) {
 .navbar-brand{padding: 2px 0;margin: 0;}
 .navbar-brand img{width: 100%}
 .toggler-navbar i {color: #33335c;background: #fff;padding: 5px 10px;}
 .about-us img {width: 100%;}
 .navbar-collapse{position: absolute;background: #000;right: 0;top: 10px;}
}
@media only screen and (max-width: 420px) {
    .box-hight{margin: 0 0 20px;}
    section.product{font-size: 13px;line-height: 20px;}
    section.product img{margin: 0 0 20px;}
    .about-right{margin-bottom: 15px;margin: 0;padding: 10px;}
    .about-right h2{font-size: 32px;line-height: 31px;}
    .footer .social li a{width: 30px;height: 30px;line-height: 30px;}
    .copyright{text-align: center;}
    .f-right {float: none;margin: 10px 0 0;}
    .floating-social{bottom: 0;left: 1%;right: inherit;}
    .floating-social li {display: block;}
    .footer .block {margin: 0 0 5px;}
    .navbar-toggler {position: absolute;left: 80%;top: -20px;}
}


